@font-face
  font-family 'LibreBaskerville'
  src url('../type/LibreBaskerville-Regular.ttf') format('ttf'), url('../type/LibreBaskerville-Regular.ttf') format('ttf'), url('../type/LibreBaskerville-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'LibreBaskerville'
  src: url('../type/LibreBaskerville-Bold.ttf') format('ttf'), url('../type/LibreBaskerville-Bold.ttf') format('ttf'), url('../type/LibreBaskerville-Bold.ttf') format('truetype')
  font-weight 600
  font-style normal

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');